@import 'modern-normalize';

:root {
    --primary-color: #F4F4F4; /* Light Gray */
    --secondary-color: #1C1C1C; /* Dark Gray */
    --accent-color: #FF6F61; /* Coral */
    --highlight-color: #FFD700; /* Gold */
    --text-primary: #FFFFFF; /* White */
    --text-secondary: #333333; /* Dark Gray */
    --background-light: #E8E8E8; /* Very Light Gray */
}

/* add different view for widht < 1500px */

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--text-secondary);
    color: var(--text-primary);
}

#content {
    width: 90rem;
    height: 45rem;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 5rem 38rem 2rem;
    grid-template-columns: 25rem 1fr;
    border-radius: 8px;
    overflow: hidden;
}

header {
    background-color: var(--secondary-color);
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--highlight-color);
}

#sidebar {
    background-color: var(--secondary-color);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#main_content {
    background-color: #c9c9c9;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 2rem;
    color: var(--text-secondary);
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-primary);
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


/* sidebar-btns*/
#sidebar button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0.1rem;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

#sidebar button:disabled {
  pointer-events: none;
}

#sidebar button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: var(--accent-color);
}

#sidebar button:active {
  box-shadow: none;
  transform: translateY(0);
}

#github {
    height: 1rem;
    width: 1rem;
    background-image: url("/src/images/github-mark-white.svg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-left: 10px;   
}

#github:hover {
    height: 1.1rem;
    transition: 0.3s;
}

